/* Elementos */
html {
    background-image: url("assets/images/background.png");
    background-color: black !important;
    background-repeat: no-repeat;
    background-size: 100% !important;
}

hr {
    display: block !important;
    height: 1px !important;
    border: 0 !important;
    border-top: 1px solid white !important;
    margin: 1em 0 !important;
    padding: 0 !important;
}

body {
    background-color: #404040 !important;
    box-shadow: 0 0 8px 8px rgb(0 0 0 / 0.5);
}

#btnRandomizar:hover {
    border: 1px solid white !important;
}

#bkgCardboxPersonagemImagem {
    border-radius: 5px !important;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: background 0.3s linear;
}

/* Classes */
.title {
    font-size: 30px !important;

    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none !important;  
    cursor: pointer !important;       
}

.title:hover {
    color: #7266ba !important;
}

.container-roleta {
    padding: 20px !important;
    height: 100% !important;
    /* font-family: "PixelMix"; */
}

.loading-gif {
    height: 500px !important;
    width: auto !important;
}

.img-personagem {
    height: 250px;
    width: 250px;
}

.img-referencia {
    height: 275px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

#expandedImage {
    height: 90% !important;
    max-width: 90% !important;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transform: scale(0.8);
    transition: transform 0.3s ease;
    background-color: white !important;
}

.overlay.active #expandedImage {
    transform: scale(1);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
    transition: color 0.2s ease;
}

.modal-expand-image {
    background-color: rgba(0, 0, 0, 0.8) !important;
    position: fixed !important;
    overflow: hidden !important; 
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0 !important;
    pointer-events: none !important;
    z-index: 99999999999 !important;
    transition: 0.25s ease-out !important;
    overscroll-behavior: contain !important;
}

.modal-expand-image.open {
    opacity: 1 !important;
    pointer-events: all !important;
}

.full-image {
    position: absolute !important;
    height: 70% !important;
    top: 50% !important;
    left:  50% !important;
    transform: translate(-50%, -50%);

    background-color: white;
}

.personagem-retornado {
    border-radius: 15px !important;
    background-color: black;
    padding: 20px !important;
    box-shadow: 0 0 8px 8px rgb(0 0 0 / 0.5);
}

.ul-title {
    font-size: 20px !important;
    font-weight: 900 !important;
    margin-bottom: 100px !important;
}

.display-none {
    display: none !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-45 {
    margin-top: 45px !important;
}

.m-b-45 {
    margin-bottom: 45px !important;
}

.text-bold {
    font-weight: bold !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-30 {
    font-size: 30px !important;
}

.min-height-550 {
    min-height: 600px !important;
}

.card-box-black{
    background-color: black !important;
}

.white-border {
    border: 1px solid white !important;
}

.white-border-hover:hover {
    border: 1px solid white !important;
}

.white-bkg {
    background-color: white;
}

.hover-purple:hover {
    color: #7266ba !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.pull-right {
    text-align: right !important;
}

.pull-left {
    text-align: left !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.hover-expand-title:hover {
    animation: expand-sm 0.15s !important;
    animation-iteration-count: 1  !important;
    animation-fill-mode: forwards !important;
}

.hover-expand-li:hover{
    font-weight: 900 !important;
    animation: expand-sm 0.15s !important;
    animation-iteration-count: 1  !important;
    animation-fill-mode: forwards !important;
}

.hover-expand-sm:hover {
    border: 1px solid white !important;
    animation: expand-sm 0.5s !important;
    animation-iteration-count: 1  !important;
    animation-fill-mode: forwards !important;
}

.hover-expand-md:hover {
    animation: expand-md 0.5s !important;
    animation-iteration-count: 1  !important;
    animation-fill-mode: forwards !important;
}

.minimize-sm {
    animation: minimize-sm 0.3s !important;
    animation-iteration-count: 1  !important;
    animation-fill-mode: forwards !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    background-color: #404040 !important;
    color: #444;
    /* font-family: "PixelMix"; */
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: #404040 !important;
    color: #fff;
    /* font-family: "PixelMix"; */
}

.select2-container--default .select2-selection--single {
    background-color: #404040 !important;
    color: white !important;
    /* font-family: "PixelMix"; */
}

.select2-search--dropdown {
    background-color: #404040 !important;
    color: white !important;
    /* font-family: "PixelMix"; */
}
.select2-search__field {
    background-color: #404040 !important;
    color: white !important;
    /* font-family: "PixelMix"; */
}

.select2-results { 
    background-color: #404040 !important;
    color: white !important;
    /* font-family: "PixelMix"; */
}

.select2-selection {
    background-color: #404040 !important;
    color: white !important;
    /* font-family: "PixelMix"; */
}

.select2-choice {
    background-color: #404040 !important;
    color: white !important;
    /* font-family: "PixelMix"; */
}

.select2-search {
    background-color: #404040 !important;
    color: white !important;
    /* font-family: "PixelMix"; */
}

.select2-search input {
    background-color: #404040 !important;
    color: white !important;
    /* font-family: "PixelMix"; */
}

.select2-results {
    background-color: #404040 !important;
    color: white !important;
    /* font-family: "PixelMix"; */
    }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #7266ba !important;
    color: white;
    /* font-family: "PixelMix"; */
}

.select2-results__option[aria-selected=true] {
    background-color: #7266ba !important;
    color: white;
    /* font-family: "PixelMix"; */
}

#filtroNomePersonagem {
    background-color: #404040 !important;
    color: #fff;
    /* font-family: "PixelMix"; */
}

.autocomplete-suggestions {
    background-color: #404040;
    border: 1px solid #505050;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.autocomplete-group{
    color: #fff !important;
}

.autocomplete-suggestions .autocomplete-suggestion{
    color: #fff;
    padding: 8px 10px;
    cursor: pointer;
}

.autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected {
    background-color: #555555;
    color: #fff; 
    font-weight: bold;
}

.autocomplete-suggestions .autocomplete-suggestion strong {
    color: #fff;
    font-weight: bold;
}

.autocomplete-suggestions .autocomplete-group {
    color: #fff !important;
    background-color: #7266ba;
    padding: 5px 10px;
    font-weight: bold;
    border-bottom: 1px solid #505050;
    margin-top: 5px;
}

/* Animações */
@keyframes expand-sm {
    0% {
        transform: scale(1);
    } 
    100%{
        transform: scale(1.01);
    }
}

@keyframes expand-md {
    0% {
        transform: scale(1);
    } 
    100%{
        transform: scale(1.15);
    }
}

@keyframes minimize-sm {
    0% {
        transform: scale(1.045);
    } 
    100%{
        transform: scale(1);
    }
}